@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til</h1>
    <h1 class="display-4">Smiley-ordningens hjemmeside</h1>
    <br>
    <p>Her kan du se hvilke smiley'er, de danske virksomheder er blevet tildelt</p>
</div>